.button {
  font-size: 36rpx;
  height: 95rpx;
  line-height: 95rpx;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  border-radius: 10rpx;
}


.fz18 {
  font-size: 18rpx;
}
.fz24 {
  font-size: 24rpx;
}

.fz25 {
  font-size: 25rpx;
}

.fz26 {
  font-size: 26rpx;
}

.fz27 {
  font-size: 27rpx;
}

.fz28 {
  font-size: 28rpx;
}

.fz29 {
  font-size: 29rpx;
}

.fz30 {
  font-size: 30rpx;
}

.fz31 {
  font-size: 31rpx;
}

.fz32 {
  font-size: 32rpx;
}

.fz38{
  font-size: 38rpx;
}
