@barbiePink: #FB4FAE;
@redPink: #F62776;
@pinky: #fb88b4;
@nameColor: #515151;
@detailColor: #a1a1a1;
@greyishBrown: #4f4f4f;

@mainColor: @redPink;

@myFont:"PingFang SC","Hiragino Sans GB","Microsoft YaHei";
@myFontSans:sans-serif;

page{
  font-family:@myFont,@myFontSans;
  font-size: 28rpx;
  //border-top: 1rpx solid #e9e9e9;
}
//  白字粉底
.type-pink{
  background-color: @mainColor;
  color: #ffffff;
}

//  粉字粉边框白底
.type-empty-pink{
  background-color: #ffffff;
  color: @mainColor;
  border:  1px solid @mainColor;
}

//  灰底
.type-gray{
  color: @greyishBrown;
  background-color: #e2e2e2;
}

.button {
  font-size: 36rpx;
  height: 95rpx;
  line-height: 95rpx;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  border-radius: 10rpx;
}

//  文字省略 ...
.ellipsis(@width: 100rpx;){
  width: @width;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}


.fz18 {
  font-size: 18rpx;
}
.fz20 {
  font-size: 20rpx;
}
.fz24 {
  font-size: 24rpx;
}

.fz25 {
  font-size: 25rpx;
}

.fz26 {
  font-size: 26rpx;
}

.fz27 {
  font-size: 27rpx;
}

.fz28 {
  font-size: 28rpx;
}

.fz29 {
  font-size: 29rpx;
}

.fz30 {
  font-size: 30rpx;
}

.fz31 {
  font-size: 31rpx;
}

.fz32 {
  font-size: 32rpx;
}
.fz36{
  font-size: 32rpx;
}

.fz38{
  font-size: 38rpx;
}

.fz40{
  font-size: 40rpx;
}

.fz44{
  font-size: 44rpx;
}

